<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.binroot.quotes"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:icon="@drawable/quoteicon"
        android:label="@string/app_name" >
        <activity
            android:name=".QuotesAppActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".FriendsActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        
        <activity
            android:name=".TargetActivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
    </application>

</manifest>